server/tmp
server/.air.toml
client/node_module
client/.vscode
client/built
client/dist
# Ignore ESLint, Prettier, and other configuration files that aren't needed in the final image
client/.eslint*
client/.prettier*
client/.editorconfig
client/.DS_Store
